<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Bind</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/0.4.1/weui.css"/>
    <script src="http://cdnjs.gtimg.com/cdnjs/libs/zepto/1.1.4/zepto.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body style="background-color: #efeff4">
<div class="weui_cells_title">挂失与解挂</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_hd">
            <label class="weui_label">账号</label>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <input id="username" class="weui_input" type="text" placeholder="请输入账号"/>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd">
            <div class="weui_label">密码</div>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <input id="password" type="password" class="weui_input" placeholder="请输入密码"/>
        </div>
    </div>
</div>

<div class="weui_btn_area">
    <a class="weui_btn weui_btn_primary" href="javascript:" id="submit">确定</a>
</div>

<script>
    {% autoescape false %}
    wx.config({{ jsconfig }});
    {% endautoescape %}


    function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
    }

    $('#submit').on('click', function () {
        var username = $('#username').val();
        var password = $('#password').val();
        var data = JSON.stringify({ username: username, password: password, code: getParameterByName('code')});
        console.log(data);

        $.ajax({
            type: 'POST',
            url: '/api/bind',
            data: data,
            contentType: 'application/json',
            success: function(data){
                if (data.code == 0) {
                    wx.closeWindow();
                } else {
                    alert(data.msg);
                }
            },
            error: function(xhr, type){
                alert('Ajax error!')
            }
        });
    });
</script>

</body>
</html>